body{
    height: 100vh;
    background-color: #efeeec;
    background-image: url(/assets/vapor2.jpg);
    background-position: center;
    background-size: cover; 
    
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}

/* Layout */

main {
    height: 85vh;
    width: 325px;
    min-width: 160px;
    position: sticky;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30%;
    overflow: auto;
    border: 1.25px outset ghostwhite;
    border-radius: 3px;

}

h1{
    min-width: 160px;
    margin-top: 30%;
    border: outset 1.5px;
    border-radius: 5px 20px 5px;
    background-color: #ffffff11;
    
}
.titleName{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 45px;
}

.titleTodo{
    font-family:  'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #303030;
}
#date{
    grid-row: 1;
}

#moment{
    display:flex;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #4d4d4d;
    font-size: 55px;
   
}

#moment-2{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    width: 50px;
   
}
#input-box{
    display:flex;
    align-self: flex-end;
}

.form {
    height: 50px;
    grid-row: 3;
    display: flex;
    justify-content: left;
    align-items: center;
}


#content {
    grid-row: 2;
    overflow: auto;
    height: 55vh;
    contain: content; 
}

#todo {
    width: 250px;
    height: 30px;
    padding-left: 8px;
    border: 0px  ;
    border-bottom: 1.2px solid white;
    margin-bottom: 10px;
    background-color: #ffffff11;
    font-size: 18px;
    color: honeydew;
}

#submit{
    border: 0px;
    background-color: white;
    display: none;
}



/* Todo Content */
.list-group-item {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    background-color: transparent;
    border: 1.25px outset;
}
.mt-4 {
    margin-top: 0px !important;
}


.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-left: 5px;
}

.btn {
    border-style: outset;
    border-width: 0 .5px 1px .5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-light {
    background-color: transparent;
}
.btn-secondary {
    background-color: transparent;
}

.show {
    display: block;
}

.gray {
    color: #afafaf;
}

.crossed{
    color: rgb(206, 206, 206);
}



@media only screen and (max-width: 770px) {

    main {      
        grid-template-rows: 100px 1fr 1fr ;
    }
    
    .form {
        height: 50px;
        grid-row: 2;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    #content {
        grid-row: 3;
        overflow: auto;
        height: 70vh;
        contain: content; 
    }
    h1 {
        min-width: 325px;
    }
}